body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    /* overflow-x: hidden; */
    transition: 0.5s;
    /* padding-top: 60px; */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
    margin-top: 20px;
}

.left_section {
    height: 100vh;
}

#close {
    height: 20px;
}

#logo {
    position: fixed;
    /* margin-top: -19px; */
    height: 58px;
    background-color: white;
}

#left_navbar_footer_img {
    border-radius: 20px;
    padding: 15px;
}


.right_section {
    height: 100vh;
    /* border-left: 2px solid rgb(202, 200, 200); */
    padding: 20px;
    height: calc(100vh - 50px);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    margin-left: 114px;
    /* margin-right: 20px; */
    width: 100%;
}

.right_section .right_navbar {
    gap: 800px;
    position: fixed;
    margin-top: -40px;
    background-color: white;
    margin-left: -90px;
}

#left {
    display: flex;
    gap: 50px;
    padding-top: 11px;
    margin-bottom: 5px;
}

#right {
    display: flex;
    gap: 50px;
    padding-top: 10px;
}

.right_section .right_navbar img {
    height: 20px;
    margin-top: 5px;
}

.right_section .right_navbar {
    display: flex;
}

.right_section .right_navbar a {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.left_section .left_navbar img {
    height: 25px;
    margin-right: 20px;
}

.left_section .left_navbar p {
    font-size: 17px;
    padding: 10px;
    font-weight: bolder;
}

.left_section .left_navbar .heading {
    display: flex;
    padding: 10px;
}

.left_section .left_navbar .heading h4 {
    font-size: 18px;
    font-weight: 100;
}

#left_navbar {
    margin-top: 40px;
    overflow-y: scroll;
    /* height: 1870px; */
    height: calc(100vh - 155px);

    /* width: 224px; */
    /* position: fixed; */
}

.padding {
    padding: 10px;
}

.left_section .left_navbar .heading .disabled {
    color: rgb(186, 182, 182);
}

.right_section .right_top_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    /* margin-left: 56px; */
    /* margin-left: 160px; */
    /* margin-bottom: -25px; */
}

.right_section .right_top_cards .card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 160px;
    text-align: center;
    width: 130px;

}

.right_section .right_top_cards .card img {
    height: 90px;
}

#employees {
    background-color: #d5ddf1;
}

#clients {
    background-color: #fdf5e6;
}

#projects {
    background-color: #e9f7fe;
}

#events {
    background-color: #fcece8;
}

#payroll {
    background-color: #e8fffa;
}

#reports {
    /* margin-right: 356px; */
    background-color: #ecf3fd;
}

.right_section .right_second_cards {
    display: flex;
    /* margin-left: 195px; */
    margin-top: 30px;
}

.right_section .right_second_cards .left_card {
    display: flex;
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    padding: 20px;
    height: 520px;
    width: fit-content;
}

.right_section .right_second_cards .left_card .left_section h4 {
    font-size: 25px;
}

.right_section .right_second_cards .left_card .left_section p {
    font-size: 20px;
    color: rgb(63, 61, 61);
}

.right_section .right_second_cards .left_card .right_section .option select {
    padding: 4px;
    border-radius: 5px;
    margin-left: 55px;
}

.right_section .right_second_cards .left_card .right_section .earning {
    display: flex;
    padding: 15px;
}

.right_section .right_second_cards .left_card .right_section .earning .img {
    padding: 5px;
}

.right_section .right_second_cards .left_card .right_section .earning .img img {
    height: 48px;
}

.right_section .right_second_cards .left_card .right_section .earning .text {
    margin: 5px;
}

.right_section .right_second_cards .left_card .right_section .earning .text h4 {
    font-size: 25px;
}

.right_section .right_second_cards .left_card .right_section .bottom_earning {
    margin: 30px;
}

.right_section .right_second_cards .left_card .right_section .bottom_expense {
    margin: 30px;
}

.right_section .right_second_cards .left_card .right_section .bottom_earning h4 {
    font-size: 22px;
}

.right_section .right_second_cards .left_card .right_section .bottom_expense h4 {
    font-size: 22px;
}

.right_section .right_second_cards .left_card .right_section button {
    font-size: 15px;
    padding: 10px 55px;
    border-radius: 10px;
    color: white;
    width: auto;
    border: 2px solid #6988fa;
    background-color: #6988fa;
}

.right_section .right_second_cards .right_card .right_above_card {
    display: flex;
    height: 229.5px;
    margin: 30px;
    /* width: fit-content; */
    margin-top: 0px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #f7f8f8;
}

.right_section .right_second_cards .right_card .right_above_card .flex {
    display: flex;
    gap: 10px;
}

.right_section .right_second_cards .right_card .right_above_card .flex_year {
    display: flex;
    gap: 20px;
}

.right_section .right_second_cards .right_card .right_above_card .right_above_card_left {
    gap: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.right_section .right_second_cards .right_card .right_below_card .right_below_card_left {
    gap: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.right_section .right_second_cards .right_card .right_below_card .flex {
    display: flex;
    gap: 10px;
}

.right_section .right_second_cards .right_card .right_below_card {
    display: flex;
    height: 261.5px;
    margin: 30px;
    margin-top: 0px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #f7f8f8;
    flex-direction: column;
    gap: 40px;
}

.right_section .right_second_cards .right_card .right_below_card .flexcard {
    display: flex;
}

.right_section .right_second_cards .right_card .right_below_card_right {
    margin-left: 70px;
}

.right_section .right_second_cards .right_card .right_below_card_right img {
    height: 110px;
}

.right_section .right_third_cards {
    display: flex;
    /* margin-left: 215px; */
    margin-top: 10px;
}

.right_section .right_third_cards .right_third_1_card {
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0px;
    width: fit-content;

}

.right_section .right_third_cards .right_third_1_card .btext {
    font-size: 25px;
    font-weight: bold;
}

.right_section .right_third_cards .right_third_1_card p {
    font-size: 20px;
}

.right_section .right_third_cards .right_third_1_card .earning {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.right_section .right_third_cards .right_third_1_card .earning .left,
.right {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.right_section .right_third_cards .right_third_1_card .tophead {
    margin-left: 50px;
}

.right_section .right_third_cards .right_third_1_card .earning img {
    height: 48px;
}

.right_section .right_third_cards .right_third_1_card .earning .text h4 {
    font-size: 25px;
}

#above {
    display: flex;
}

#flex2 {
    display: flex;
}

#customer {
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
}

#card2 {
    margin-left: 15px;
    margin-right: 25px;
}

#flex_right_third_card {
    display: flex;
}

#customer_para {
    font-size: 18px;
    padding: 10px;
}

#customer_para_1 {
    padding: 10px;
}

#customer_h4 {
    padding: 5px;
    padding-left: 10px;
}


#below {
    display: flex;
    padding: 15px;
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    margin-left: 40px;
}

#below_project {
    display: flex;
    padding: 15px;
}

#flex3 {
    display: flex;
}

#abovecard {
    display: flex;
    height: 232px;
}

#right_card_img {
    border: 2px solid rgb(93, 135, 255);
    border-radius: 10px;
    margin-left: 20px;
    height: 458px;
}

#belowcard {
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    margin-left: 22px;
    margin-top: 20px;
    height: 208px;
}

#bottom_cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

#bottom_left {
    border: 2px solid #f7f8f8;
    border-radius: 10px;
}

#bottom_right {
    border: 2px solid #f7f8f8;
    border-radius: 10px;
    margin-left: 178px;
}

#bottom_right_setting {
    height: 60px;
    background-color: rgb(93, 135, 255);
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
    /* making position fixed for <img id="bottom_right_setting" src="images/setting.png" alt="">*/
    position: static;
}

.right_section .right .height {
    height: 30px;
}

@media (min-width: 1200px) and (max-width:1400px) {
    #logo {
        height: 46px;
        margin-top: 4px;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }


    .right_section .right_second_cards .left_card {
        margin-left: 140px;
    }

    .right_section .right_second_cards {
        flex-direction: column;
    }

    .right_section {
        margin-left: 0px;
    }

    #right_card {
        display: flex;
        margin-top: 10px;
        margin-left: 50px;
    }

    .right_section .right_second_cards .right_card .right_above_card {
        width: fit-content;
        /* height: auto; */
    }

    .right_section .right_second_cards .right_card .right_below_card {
        width: fit-content;
        display: flex;
        height: 228.5px;
        /* margin: -20px; */
        margin-top: 0px;
        padding: 4px;
        border-radius: 10px;
        border: 2px solid #f7f8f8;
        flex-direction: column;
        gap: 26px;
    }

    .right_section .right_third_cards {
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_third_cards .right_third_1_card {
        margin-left: 100px;
    }

    #flex_right_third_card {
        display: flex;
    }

    #right_card_img {
        margin-left: 100px;
        margin-top: 20px;
    }

    #bottom_left {
        width: fit-content;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    #bottom_cards {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .right_section .right_navbar {
        margin-left: 0px;
        gap: 211px;
    }
}

@media (min-width:1800px) {
    #logo {
        height: 46px;
        margin-top: 4px;
    }

    .right_section .right_second_cards .left_card {
        margin-left: 140px;
    }

    .right_section {
        margin-left: 0px;
    }

    #right_card {
        display: flex;
        /* margin-top: 10px; */
        margin-left: 70px;
        flex-direction: column;
    }

    .right_section .right_second_cards .right_card .right_above_card {
        width: fit-content;
        height: auto;
    }

    .right_section .right_second_cards .right_card .right_below_card {
        width: fit-content;
    }

    .right_section .right_third_cards {
        /* flex-direction: column; */
        align-items: center;
    }

    .right_section .right_third_cards .right_third_1_card {
        margin-left: 130px;
    }

    #flex_right_third_card {
        display: flex;
    }

    #right_card_img {
        margin-left: 100px;
        margin-top: 20px;
    }

    #bottom_left {
        width: fit-content;
        margin-left: 100px;
    }

    #bottom_cards {
        gap: 0px;
        align-items: center;
    }

    #bottom_right_setting {
        margin-top: 815px;
        margin-left: 10px;
    }

    #bottom_left {
        margin-bottom: 20px;
    }

    .right_section .right_navbar {
        margin-left: 0px;
        gap: auto;
    }

}


@media (min-width:1400px) and (max-width:1800px) {
    #logo {
        height: 46px;
        margin-top: 4px;
    }

    .right_section .right_second_cards .left_card {
        margin-left: 140px;
    }

    .right_section .right_second_cards {
        flex-direction: column;
        align-items: center;
    }

    .right_section {
        margin-left: 57px;
    }

    #right_card {
        display: flex;
        margin-top: 10px;
        margin-left: 100px;
    }

    .right_section .right_second_cards .right_card .right_above_card {
        width: fit-content;
        height: auto;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }

    .right_section .right_second_cards .right_card .right_below_card {
        width: fit-content;
    }

    .right_section .right_third_cards {
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_third_cards .right_third_1_card {
        margin-left: 50px;
    }

    #flex_right_third_card {
        display: flex;
    }

    #right_card_img {
        margin-left: 100px;
        margin-top: 20px;
    }

    #bottom_left {
        width: fit-content;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    #bottom_cards {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .right_section .right_navbar {
        margin-left: 0px;
        gap: 250px;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    #logo {
        height: 46px;
        margin-top: 4px;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }

    #graph1 {
        height: 285px;
    }

    .right_section .right_second_cards .left_card {
        margin-left: 56px;
        height: 430px;
        padding: 18px;
    }

    .right_section .right_second_cards {
        flex-direction: column;
    }

    .right_section {
        margin-left: 0px;
    }

    #right_card {
        display: flex;
        margin-top: 10px;
        /* margin-left: 50px; */
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_second_cards .right_card .right_above_card {
        width: fit-content;
        /* height: auto; */
    }

    .right_section .right_second_cards .right_card .right_below_card {
        width: fit-content;
        display: flex;
        height: 228.5px;
        /* margin: -20px; */
        margin-top: 0px;
        padding: 4px;
        border-radius: 10px;
        border: 2px solid #f7f8f8;
        flex-direction: column;
        gap: 26px;
    }

    .right_section .right_third_cards {
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_third_cards .right_third_1_card {
        margin-left: 100px;
    }

    #flex_right_third_card {
        display: flex;
        flex-direction: column;
    }

    #right_card_img {
        margin-left: 100px;
        margin-top: 20px;
    }

    #abovecard {
        margin-top: 15px;
        margin-left: 61px;
    }

    #bottomright {
        height: 410px;

    }

    #belowcard {
        width: fit-content;
        margin-left: 100px;
    }

    #bottom_left {
        width: fit-content;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    #bottom_right {
        margin-left: 74px;
    }

    #bottom_cards {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .right_section .right_navbar {
        margin-left: 0px;
        gap: 4px;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    #logo {
        height: 46px;
        margin-top: 4px;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }

    #graph1 {
        height: 188px;
    }

    .right_section .right_second_cards .left_card {
        margin-left: 100px;
        height: 430px;
        padding: 18px;
    }

    .right_section .right_second_cards {
        flex-direction: column;
    }

    .right_section {
        margin-left: 0px;
    }

    #right_card {
        display: flex;
        margin-top: 10px;
        /* margin-left: 50px; */
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_second_cards .right_card .right_above_card {
        width: fit-content;
        /* height: auto; */
    }

    .right_section .right_second_cards .right_card .right_below_card {
        width: fit-content;
        display: flex;
        height: 228.5px;
        /* margin: -20px; */
        margin-top: 0px;
        padding: 4px;
        border-radius: 10px;
        border: 2px solid #f7f8f8;
        flex-direction: column;
        gap: 26px;
    }

    .right_section .right_third_cards {
        flex-direction: column;
        align-items: center;
    }

    .right_section .right_third_cards .right_third_1_card {
        margin-left: 100px;
    }

    #flex_right_third_card {
        display: flex;
        flex-direction: column;
    }

    #right_card_img {
        margin-left: 100px;
        margin-top: 20px;
    }

    #abovecard {
        margin-top: 15px;
        margin-left: 61px;
    }

    #bottomright {
        height: 293px;

    }

    #belowcard {
        width: fit-content;
        margin-left: 100px;
    }

    #bottom_left {
        width: fit-content;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    #bottom_right {
        margin-left: 0px;
    }

    #bottom_cards {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .right_section .right_navbar {
        margin-left: 0px;
        gap: 4px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #logo {
        height: 46px;
        margin-top: -14px;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }

    .right_section .right_navbar {
        gap: 710px;
    }

    .right_section .right_top_cards .flex_wrap .inner_card {
        width: 131px;
    }
}

@media (max-width: 576px) {
    #logo {
        height: 46px;
        margin-top: -14px;
    }

    #bottom_right_setting {
        margin-top: 695px;
        margin-left: 10px;
    }

    .right_section .right_navbar {
        gap: 710px;
    }

    .right_section .right_top_cards .flex_wrap .inner_card {
        width: 131px;
    }
}

.right_section::-webkit-scrollbar {
    width: 5px;
}

.right_section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.right_section::-webkit-scrollbar-thumb {
    background-color: rgb(235, 111, 111);
    outline: 2px solid rgb(223, 183, 75);
}

.left_navbar::-webkit-scrollbar {
    width: 5px;
}

.left_navbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.left_navbar::-webkit-scrollbar-thumb {
    background-color: rgb(171, 239, 204);
    outline: 2px solid rgb(191, 255, 15);
}

body::-webkit-scrollbar {
    width: 0px;
}